<template>
	<div class="hero">
		<v-img
			class="hero-image parallax"
			height="500"
			src="https://images.unsplash.com/photo-1511376777868-611b54f68947?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
		></v-img>
		<div class="hero-content">
			<h1 class="heading">Bærnholdt frontend opgave 1.0</h1>
			<div class="body">
				<p class="body">
					Målet for denne opgave er at opsætte én responsiv side med
					løbende udfordringer, hvor sidens omfang vil bestå af HTML,
					CSS og JavaScript. Vi vil derefter kigge på hvordan du har
					valgt at prioriterer din tid, hvor pixel perfect den er,
					hvordan din kode performance har været og helt til sidst
					hvordan du har løst responsiviteten.
				</p>
				<p class="body">
					Overleveringen af opgaven sker på følgende måde. Du laver en
					mappe hvor i der vil ligge yderligere mapper for hver enkelt
					opgave. Når du engang er færdig, så laver du en Zip-fil af
					hoved mappen og tilsender os.
				</p>
			</div>
			<ToDo class="mt-15 mb-8" :title="todo.title" :todos="todo.todos" />
		</div>
	</div>
</template>

<script>
	import ToDo from '@/components/ToDo'

	export default {
		components: {
			ToDo,
		},
		data: () => ({
			todo: {
				title: 'Herunder beskrives selve opgaven:',
				todos: [
					{ text: 'Opsæt sidens struktur i HTML og CSS' },
					{
						text:
							'Gør billede 2 og 3 parallax. Billede 1 holder sin position, hvor billede 3 bevæger sig henover billede 2.',
					},
					{
						text:
							'Tilføj JavaScript og gør karusellen i bunden interaktiv.',
					},
					{ text: 'Gør siden responsiv.' },
				],
			},
		}),
	}
</script>

<style scoped lang="scss">
	@import '~/assets/style/custom-variables.scss';

	.hero {
		z-index: 5;
		width: 100%;
		display: flex;
		flex-flow: column;
		align-items: center;

		.hero-image {
			z-index: 10;
			height: 500px;
		}

		.hero-content {
			padding: 60px 110px;
			background-color: #fff;
			z-index: 20;
			margin-top: -250px;
			width: 65%;
		}
	}

	@media screen and (max-width: $tablet-breakpoint) {
		.hero {
			.hero-content {
				width: 80%;
				padding: 50px 70px;
			}
		}
	}

	@media screen and (max-width: $mobile-breakpoint) {
		.hero {
			.hero-content {
				width: 90%;
				padding: 30px 40px;
			}
		}
	}
</style>
