<template>
  <div class="outro">
      <h1 class="sub-heading">Tak fordi I så med</h1>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
    .outro {
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>