<template>
	<div class="custom-container">
		<v-img
			aspect-ratio="0.6695035461"
			:width="responsiveImageSize"
			class="offset-image elevation-8"
			src="https://images.unsplash.com/photo-1542546068979-b6affb46ea8f?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
		></v-img>
		<v-row>
			<v-col cols="12" md="5">
				<h2 class="sub-heading">Referencer som er brugt i designet</h2>
				<div class="body break-words">
					<p v-for="(ref, i) in refs" :key="i">
						{{ ref }}
					</p>
				</div>

				<h5 class="paragraph-heading mt-15">Billeder i galleriet</h5>
				<div class="body break-words">
					<p v-for="(image, i) in slideshowImages" :key="i">
						{{ image }}
					</p>
				</div>
			</v-col>
		</v-row>
	</div>
</template>

<script>
	export default {
		computed: {
			responsiveImageSize() {
				switch (this.$vuetify.breakpoint.name) {
					case 'xs':
						return '200px'
					case 'sm':
						return '300px'
					case 'md':
						return '380px'
					case 'lg':
						return '500px'
					case 'xl':
						return '500px'
				}
			},
		},
		data: () => ({
			refs: [
				'https://images.unsplash.com/photo-1511376777868-611b54f68947?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=8',
				'https://images.unsplash.com/photo-1579403124614-197f69d8187b?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80',
				'https://images.unsplash.com/photo-1542546068979-b6affb46ea8f?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80',
				'https://material.io/resources/icons/?style=baseline',
			],
			slideshowImages: [
				'https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2900&q=80',
				'https://images.unsplash.com/photo-1579403124614-197f69d8187b?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
				'https://images.unsplash.com/photo-1502951682449-e5b93545d46e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80',
				'https://images.unsplash.com/photo-1604145559206-e3bce0040e2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80',
				'https://images.unsplash.com/photo-1603969280040-3bbb77278211?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80',
			],
		}),
	}
</script>

<style lang="scss" scoped>
	@import '~/assets/style/custom-variables.scss';

	h2.sub-heading {
		margin-top: 100px;
	}
	.offset-image {
		position: absolute;
		top: -350px;
		right: 100px;
	}

	.custom-container {
		padding: 20px 13%;
		position: relative;
	}

	@media screen and (max-width: $tablet-breakpoint) {
		.custom-container {
			padding: 20px 10%;
		}
		.offset-image {
			top: -380px;
			right: 30px;
		}
	}

	@media screen and (max-width: $mobile-breakpoint) {
		.custom-container {
			padding: 20px 30px;
		}
		.offset-image {
			top: -250px;
			right: 20px;
		}
	}
</style>
