<template>
	<div>
		<SlideShow />
	</div>
</template>

<script>
	import SlideShow from '@/components/SlideShow/SlideShow'

	export default {
        components: {
            SlideShow
        }
    }
</script>

<style></style>
