<template>
	<div>
		<h5 class="paragraph-heading">{{ title }}</h5>
		<ol type="A">
			<li v-for="(todo, i) in todos" :key="i">
				<p>{{ todo.text }}</p>
			</li>
		</ol>
	</div>
</template>

<script>
	export default {
		props: {
			title: {
				type: String,
				required: true,
			},
			todos: {
				type: Array,
				required: true,
			},
		},
	}
</script>

<style scoped lang="scss">
ol {
	padding-left: 40px;
}
</style>
