<template>
	<div class="slide-container">
        <!-- Ville sætte: aspect-ratio="1.4", men så vil den ikke vise fotos.
        derfor er de forskellig størrelse for nu -->
		<v-img eager width="100%" :src="imageURL"></v-img>
	</div>
</template>

<script>
	export default {
		props: {
			imageURL: {
				type: String,
				isRequired: true,
			},
		},
	}
</script>

<style scoped lang="scss">
    @import '~/assets/style/custom-variables.scss';

    .slide-container {
        padding: 300px;
        width: 100vw;
        transition: 0.5s ease-in-out;
    }

    @media screen and (max-width: $tablet-breakpoint) {
        .slide-container {
            padding: 200px;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        .slide-container {
            padding: 100px;
        }
    }
    
        
</style>
