<template>
	<div class="controls">
		<div
			class="control"
			:class="currentStep === i ? 'active' : null"
			v-for="(slide, i) in numberOfSlides"
			:key="i"
            @click="$emit('slide-change', i)"
		>
			<v-icon>{{
				currentStep === i
					? 'mdi-checkbox-blank-circle'
					: 'mdi-checkbox-blank-circle-outline'
			}}</v-icon>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			numberOfSlides: {
				type: Number,
				isRequired: true,
			},
			currentStep: {
				type: Number,
				isRequired: true,
			},
		},
	}
</script>

<style>
    .controls {
        margin-top: 50px;
        justify-content: center;
        display: flex;
        flex-flow: row;
    }
	.active i {
		color: black;
	}
	.control {
        transition: 0.2s;
        cursor: pointer;
    }
    .control:hover:not(.active) i {
        color: rgb(41, 41, 41);
    }
</style>
