<template>
	<div class="wrapper">
		<button class="slide-btn prev-slide" @click="prevSlide()">
			<v-icon color="black">mdi-arrow-left</v-icon>
		</button>
		<div class="slides-container">
			<Slide
				:style="`transform: translateX(-${currentSlide}00%);`"
				v-for="(slide, i) in slides"
				:key="i"
				:imageURL="slide"
			/>
		</div>
		<button class="slide-btn next-slide" @click="nextSlide()">
			<v-icon color="black">mdi-arrow-right</v-icon>
		</button>
        <SlideShowControls @slide-change="changeSlide" :number-of-slides="slides.length" :current-step="currentSlide" />
	</div>
</template>

<script>
	import Slide from '@/components/SlideShow/Slide'
	import SlideShowControls from '@/components/SlideShow/SlideShowControls'

	export default {
		components: {
            Slide,
            SlideShowControls
		},
		methods: {
			changeSlide(i) {
				this.currentSlide = i
			},
			nextSlide() {
				if (this.currentSlide !== this.slides.length - 1) {
					this.currentSlide++
				}
			},
			prevSlide() {
				if (this.currentSlide !== 0) {
					this.currentSlide--
				}
			},
		},
		data: () => ({
			currentSlide: 0,
			slides: [
				'https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2900&q=80',
				'https://images.unsplash.com/photo-1579403124614-197f69d8187b?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80',
				'https://images.unsplash.com/photo-1502951682449-e5b93545d46e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80',
				'https://images.unsplash.com/photo-1604145559206-e3bce0040e2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80',
				'https://images.unsplash.com/photo-1603969280040-3bbb77278211?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80',
			],
		}),
	}
</script>

<style scoped lang="scss">
	@import '~/assets/style/custom-variables.scss';

	.wrapper {
		position: relative;
	}
	.slides-container {
		white-space: pre-line;
		display: flex;
		height: 500px;
		align-items: center;
		overflow: hidden;
	}
	.slide-btn {
		border: 2px solid #ccc;
		border-radius: 50%;
		padding: 16px;
		transition: 0.3s;
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		outline: none;
		z-index: 100;
	}

	.slide-btn:hover {
		border: 2px solid #000;
		background-color: #000;

		i {
			color: #fff !important;
		}
	}

	.prev-slide.slide-btn {
		left: 10%;
	}
	.next-slide.slide-btn {
		right: 10%;
	}

	@media screen and (max-width: $tablet-breakpoint) {
		.prev-slide.slide-btn {
			left: 50px;
		}
		.next-slide.slide-btn {
			right: 50px;
		}
    }
    
    @media screen and (max-width: $tablet-breakpoint) {
		.prev-slide.slide-btn {
			left: 20px;
		}
		.next-slide.slide-btn {
			right: 20px;
		}
	}
</style>
