// breakpoints
$mobile-breakpoint: '600px';
$tablet-breakpoint: '960px';

// styling
$paragraph-size: '18px';
$heading-size: '50px';
$heading-font-family: 'IBM Plex Sans';
$paragraph-font-family: 'Montserrat';