@import '~/assets/style/custom-variables.scss';

* {
	font-family: 'Montserrat', 'Helvetica Neue', -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', sans-serif;
}

.heading {
	font-size: 50px;
	font-family: $heading-font-family;
	font-weight: 700;
	line-height: 60px;
	margin-bottom: 50px;
}

.sub-heading {
	font-size: 40px;
	font-family: $heading-font-family;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 50px;
}

.paragraph-heading {
	font-family: $heading-font-family;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 18px;
}

.break-words {
	word-break: break-all;
}

ol li {
	font-family: $paragraph-font-family;
	font-size: 18px;
	font-weight: 300;
}

.v-application p.body,
.v-application .body p {
	font-family: $paragraph-font-family;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 30px;
}

.parallax .v-image__image.v-image__image--cover {
    background-attachment: fixed !important;
}