<template>
	<div>
		<FirstSection />
		<v-img class="parallax" height="700" :position="$vuetify.breakpoint.mdAndUp ? 'center bottom -250px' : 'center center'" src="https://images.unsplash.com/photo-1579403124614-197f69d8187b?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"></v-img>
		<SecondSection />
		<ThirdSection class="mt-15" />
		<Outro />
	</div>
</template>

<script>
	// Ville nok navngive dem anderledes, hvis jeg vidste der ville være flere sektioner
	import FirstSection from '@/components/sections/First'
	import SecondSection from '@/components/sections/Second'
	import ThirdSection from '@/components/sections/Third'
	import Outro from '@/components/sections/Outro'

	export default {
		computed: {
			responsiveImageSize() {
				switch (this.$vuetify.breakpoint.name) {
					case 'xs':
						return '400px'
					case 'sm':
						return '500px'
					default:
						return '700px'
				}
			},
		},
		components: {
			FirstSection,
			SecondSection,
			ThirdSection,
			Outro,
		},
		data: () => ({}),
	}
</script>
